<header>
  <div class="logo-container">
    <img src="/img/logo.svg" alt="Logo E-móvel" />
  </div>
  
  <nav>
    <li>
      <a href="/admin/pedidos">Pedidos</a>
    </li>
    <li>
      <a href="/admin/clientes">Clientes</a>
    </li>
    <li>
      <a href="/admin/produtos">Produtos</a>
    </li>
  </nav>
</header>
