<div class="modal">
  <div>
    <h3>Confirmar remoção</h3>
    <p>Esta operação é irreversível, tem certeza que deseja remover o item?</p>
    <div class="modal-btns">
      <span>Cancelar</span>
      <form
        action=<%= action %>
        method="POST"
      >
        <button type="submit">Remover</button>
      </form>
    </div>
  </div>
</div>
