<footer>
  <div class="conteudo">
    <div class="newsletter">
      <h3>Cadastre-se na nossa newsletter</h3>
      <p>Receba no seu e-mail novidades e as melhores promoções.</p>
      <div class="input-wrapper">
        <input type="text" placeholder="seu e-mail" />
        <button>Cadastrar</button>
      </div>
    </div>

    <nav class="menu">
      <ul class="categoria-principal">
          <% for(let i = 1; i < categorias.length; i++) { %>
            <a href="/categorias/<%= categorias[i].id %>"> <%= categorias[i].nome %> </a>
          <% } %>
      </ul>

      <!-- <ul>
        <li class="categoria-principal">Sobre</li>
        <li>
          <a href="/quem-somos"> Quem somos </a>
        </li>
        <li>
          <a href="/faq"> F.A.Q </a>
        </li>
      </ul> -->
    </nav>
  </div>
  <div class="copyright">
    <p>E-móvel 2022-2023</p>
  </div>
</footer>
<script src="/scripts/header.js"></script>

<script src="/scripts/topoPg.js"></script>

