<header>
  <div class="cabeçalho">
    <ul id="elementos-cabeçalho">
      <!-- <li id="note">BRL</li> -->
      <li id="note">FRETE GRÁTIS PARA TODO BRASIL</li>
      <!-- <li id="note"><a href="">F.A.Q.</a></li> -->
      <img class="logoMobile" src="/img/logo-horizontal.svg" href="/"></img>
      <button id="menu-toggle">&#9776;</button>
      <nav id="menuMobile">
        <ul>
          <li><a href="/">Home</a></li>
          <li id="categoriaMobile">
            <a>Categorias</a>
            <ul id="categoriasMobile">
              <% for(let c of categorias) { %>
                <li><a href="/categorias/<%= c.id%>">
                    <%= c.nome %>
                  </a></li>
                <% } %>
            </ul>
          </li>
          <!-- <li><a href="/">Sobre</a></li> -->
          <li><a href="/carrinho">Carrinho</a></li>
          <!-- <li><a href="/painelUsuario">Minha conta</a></li> -->
          <% if(usuarioLogado) {%>
            <li class="painelusuario">
              <a href="/painelUsuario">Minha conta</a>
            </li>
            </li>
              <li class="painelusuario">
                <a href="/clientes/sair">Sair</a>
              </li>
              <% } %>
              <% if(!usuarioLogado) {%>
                <li class="painelusuario">
                  <a href="/cadastro">Acessar conta</a>
                </li>
                  <% } %>
        </ul>
      </nav>
    </ul>
  </div>
  <nav class="branco">
    <div id="elementos-branco">
      <a class="logo" href="/">
        <img class="logoImg" src="/img/logo-horizontal.svg" href="/"></img>
      </a>
      <div class="Categoria" href="/categorias/:categorias">Categorias
        <ul id="categorias">
          <% for(let i=1; i < categorias.length; i++) { %>
            <li><a href="/categorias/<%= categorias[i].id %>">
                <%= categorias[i].nome %>
              </a></li>
            <% } %>
        </ul>
      </div>
      <!-- <li class="sobre">
        <a href="/">Sobre</a>
      </li> -->
      <li class="buscar">
        <img class="lupa" src="/img/lupa.png" alt="" />
        <form method="get" action="/busca"></form>
        <input name="busca" id="busca" type="search" placeholder="Buscar...." />
        </form>
      </li>
      <li>
      <a class='icone-carrinho' href="/carrinho">
        <img class="sacola" src="/img/sacola-gray.svg" alt="" />
        <span id="span">0</span>
      </a>
      <% if(usuarioLogado) {%>
      <li class="painelusuario">
        <a href="/painelUsuario">Minha conta</a>
      </li>
      </li>
        <li class="painelusuario">
          <a href="/clientes/sair">Sair</a>
        </li>
        <% } %>
        <% if(!usuarioLogado) {%>
          <li class="painelusuario">
            <a href="/cadastro">Acessar conta</a>
          </li>
            <% } %>
    </div>
  </nav>
</header>