<header>
  <div class="cabeçalho">
    <ul id="elementos-cabeçalho">
      <li id="note">BRL</li>
      <li id="note">FRETE GRÁTIS PARA TODO BRASIL</li>
      <li id="note"><a href="">F.A.Q.</a></li>
    <img class="logoAmarelo" src="/img/logo.svg" href="/"></img>
  <button id="menu-toggle">&#9776;</button>
  <nav id="menuMobile">
    <ul>
      <li><a href="/">Home</a></li>
      <li id="areaInterna">
        <a>Área Interna</a>
        <ul id="categoriasInternas">
          <li><a href="/categorias/mesa">Cadeiras</a></li>
          <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
          <li><a href="/categorias/mesa">Mesa de centro</a></li>
          <li><a href="/categorias/mesa">Sofás</a></li>
          <li><a href="/categorias/mesa">Cômodas</a></li>
          <li><a href="/categorias/mesa">Mesa Laterais</a></li>
          <li><a href="/categorias/mesa">Escritório</a></li>
          <li><a href="/categorias/mesa">Camas</a></li>
        </ul>
      </li>
      <li id="areaExterna">
        <a>Área Externa</a>
        <ul id="categoriasExternas">
          <li><a href="/categorias/mesa">Cadeiras</a></li>
          <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
          <li><a href="/categorias/mesa">Mesa de centro</a></li>
          <li><a href="/categorias/mesa">Sofás</a></li>
          <li><a href="/categorias/mesa">Cômodas</a></li>
          <li><a href="/categorias/mesa">Mesa Laterais</a></li>
        </ul>
      </li>
      <li><a href="/categorias/mesa">Área do arquiteto</a></li>
      <li><a href="/categorias/mesa">Contato</a></li>
    </ul>
  </nav>
</ul>
  </div>
  <nav id="branco">
    <div id="elementos-branco">
      <img class="logoBranco" src="/img/logo-horizontal.svg" href="/"></img>
      <div class="buttonAreaInterna" href="/categorias/mesa">Área Interna
      <button id="areaInternaBranco"></button>
      <ul id="categoriasInternasBranco">
        <li><a href="/categorias/mesa">Cadeiras</a></li>
        <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
        <li><a href="/categorias/mesa">Mesa de centro</a></li>
        <li><a href="/categorias/mesa">Sofás</a></li>
        <li><a href="/categorias/mesa">Cômodas</a></li>
        <li><a href="/categorias/mesa">Mesa Laterais</a></li>
        <li><a href="/categorias/mesa">Escritório</a></li>
        <li><a href="/categorias/mesa">Camas</a></li>
      </ul>
    </div>
      <div class="buttonAreaExterna" href="/categorias/mesa">Área Externa
      <button id="areaExternaBranco" ></button>
      <ul id="categoriasExternasBranco">
        <li><a href="/categorias/mesa">Cadeiras</a></li>
        <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
        <li><a href="/categorias/mesa">Mesa de centro</a></li>
        <li><a href="/categorias/mesa">Sofás</a></li>
        <li><a href="/categorias/mesa">Cômodas</a></li>
        <li><a href="/categorias/mesa">Mesa Laterais</a></li>
      </ul>
    </div>
      <li class="sobre"><a href="/categorias/mesa">Sobre</a></li>
      <img class="lupa" src="/img/lupa.png" alt="" />
      <input class="busca" type="text" placeholder="buscar...." />
      <a href="/carrinho">
        <img class="sacola" src="/img/sacola-gray.svg" alt="" />
        <span id="span">3</span>
      </a>
      <li class="painelusuario"><a href="/painelUsuario">Minha conta</a></li>
    </div>
  </nav>
</header>
