<!DOCTYPE html>
<html>
  <%- include("partials/adminHead", {css: ["adminLogin.css"], titulo: "Login Administrativo | E-móvel"}) %>
  <body class="clientes-container">
    <%- include("partials/adminHeader") %>
    <main>
        <h1>Clientes</h1>
    </main>
  </body>
</html>
