<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["adminLogin.css"], titulo: "Login Administrativo | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/topoPg") %>
    <main>
      <div class="form-login-container">
        <div class="logo-container">
          <img src="/img/logo.svg" alt="Logo E-móvel" />
        </div>
        <p>Faça login para acessar a área administrativa</p>
        <form action="/admin/login" method="POST">
          <div>
            <label for="email">Digite seu e-mail</label>
            <input type="text" name="email" placeholder="admin@emovel.com" id="email" required/>
          </div>
          <div>
            <label for="senha">Digite sua senha</label>
            <input name="senha" type="password" id="senha" required/>
          </div>
          <button class="botao-secundario" type="submit">Acessar</button>
        </form>
      </div>
    </main>
  </body>
</html>
