<!DOCTYPE html>
<html lang="pt-br">

<%- include("partials/head", {css: ["cadastro.css"], titulo: "Cadastro_E-móvel"}) %>




<body>
  <%- include("partials/header") %>

  <%- include("partials/sidebar") %>
  

  <div class="display-flex">
    <section class="container">
      <h2>Cadastro</h2>

      <div class="row my-3 padding-bottom">
        <form class="reservation" method="post">
          <!-- <div class="errors" id="div-errors"> -->
          <!-- <ul class="ulErroDiv"></ul> -->
          <!-- </div> -->
          <ul class="erros" id="ulErros">
            <!-- <li>teste</li>
            <li>teste1</li>
            <li>teste<2/li> -->
          </ul>

          <div class="cidade">
            <input type="text" placeholder="Nome" name="nome" id="nome" class="form-control" required />
          </div>

          <div class="cidade">
            <input type="email" placeholder="Email" name="email" id="email" class="form-control" required />
          </div>

          <div class="cidade">
            <input type="password" placeholder="Senha" name="senha" id="senha" class="form-control" required />
          </div>

          <div class="cidade">
            <input type="password" placeholder="Confirmar Senha" name="confirmarSenhay" id="confirmarSenha"
              class="form-control" required />
          </div>

          <div class="salvar">
            <div>
              <div class="enviar">
                <button type="submit" class="botom botao-secundario">
                  Cadastrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="container1">
      <!-- <h1 >  Bem vindo de volta </h1> -->
      <h2>Login por Email</h2>

      <div class="errors2" id="div-errors2">
        <ul></ul>
      </div>

      <form class="formLogin" method="post">
        <div></div>
        <div class="email1">
          <input type="email" placeholder="Email" name="Adress" id="Adress" class="form-control" required />
        </div>

        <div class="senha">
          <input type="password" placeholder="Senha" name="Adress" id="Adress1" class="form-control" required />
        </div>

        <div class="lembrar">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
        </div>

        <div>
          <button type="submit" class="botom botao-secundario">Entrar</button>
        </div>
      </form>

      <h3>esqueceu sua senha?</h3>
    </section>
  </div>

  <%- include("partials/footer") %>
  
  

  <script src="/scripts/cadastro.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>
</body>

</html>