<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu carrinho | E-móvel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/carrinho.css" />
  </head>
  <body>
    <header>
      <div class="superior">
        <nav class="superior2">
          <ul class="superior3">
            <li>BRL</li>
            <li>FRETE GRÁTIS PARA TODO BRASIL</li>
            <li><a href="">F.A.Q.</a></li>
          </ul>
        </nav>
      </div>
      <div class="inferior">
        <nav>
          <ul class="inferior2">
            <li class="ecommerce">
              <b> <a href="/">E-móvel</a></b>
            </li>
            <li class="interna"><a href="/categorias/mesa">Área Interna</a></li>
            <li class="externa"><a href="/categorias/mesa">Área Externa</a></li>
            <li class="sobre"><a href="/categorias/mesa">Sobre</a></li>
            <img class="lupa" src="/img/lupa.png" alt="" />
            <input class="busca" type="text" placeholder="buscar...." />
            <a href="/carrinho">
              <img class="sacola" src="/img/sacola-gray.svg" alt="" />
              <span>3</span>
            </a>
            <li><a href="/painelUsuario">Minha conta</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="carrinho-container">
      <div class="produtos-container">
        <h1>Seu carrinho</h1>
        <p>Não se decidiu? <a href="/">Continue comprando</a></p>

        <div class="produtos">
          <div class="produto">
            <div class="img-container">
              <a href="/produto">
                <img
                  src="/img/mesa-monaco.png"
                  alt="Foto Mesa de jantar Mônaco"
                />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h2>Mesa de Jantar Mônaco</h2>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
            <span>Remover</span>
          </div>

          <div class="produto">
            <div class="img-container">
              <a href="/produto">
                <img src="/img/mesa-dora.png" alt="Foto Mesa de jantar Dora" />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h2>Mesa de Jantar Dora</h2>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
            <span>Remover</span>
          </div>

          <div class="produto">
            <div class="img-container">
              <a href="/produto">
                <img
                  src="/img/mesa-plana.png"
                  alt="Foto Mesa de jantar Plana"
                />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h2>Mesa de Jantar Plana</h2>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
            <span>Remover</span>
          </div>
        </div>

        <div class="outras-infos">
          <h3>Outras informações</h3>
          <section>
            <h4>Política de devolução</h4>
            <p>Cancelamento da compra em até 4h depois da efetivação.</p>
            <p>
              Para devoluções depois de entregue, entre em contato com o nosso
              setor de vendas
            </p>
          </section>
        </div>
      </div>

      <div class="resumo">
        <h3>Resumo do pedido</h3>

        <form action="">
          <label>
            Adicione seu código de desconto
            <input type="text" placeholder="código de desconto" />
          </label>
        </form>

        <div class="valores">
          <div class="subtotal">
            <h5>Subtotal</h5>
            <p>R$ 2.400,00</p>
          </div>

          <div class="frete">
            <h5>Frete</h5>
            <p>Calculado após endereço selecionado</p>
          </div>

          <div class="total">
            <h5>Total</h5>
            <p>R$ 2.400,00</p>
          </div>

          <a href="/cadastro" class="botao-secundario">Continuar</a>
        </div>
      </div>
    </main>

    <footer>
      <div class="conteudo">
        <div class="newsletter">
          <h3>Cadastre-se na nossa newsletter</h3>
          <p>Receba no seu e-mail novidades e as melhores promoções.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="seu e-mail" />
            <button>Cadastrar</button>
          </div>
        </div>

        <nav class="menu">
          <ul>
            <li class="categoria-principal">
              <a href="/categorias/area"> Área Interna </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/escritório"> Escritório </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">
              <a href="/categorias/externa"> Área Externa </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/balancos"> Balanços </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">Sobre</li>
            <li>
              <a href="/quem-somos"> Quem somos </a>
            </li>
            <li>
              <a href="/faq"> F.A.Q </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p>E-móvel 2022-2022</p>
      </div>
    </footer>

    <script src="/scripts/scripts.js"></script>
  </body>
</html>
