<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/head", {css: ["carrinho.css"], titulo:
  "Carrinho_E-móvel"}) %>
  <body>
    <%- include("partials/header") %>

    <main class="carrinho-container">
      <div class="produtos-container">
        <h1>Seu carrinho</h1>
        <p>Não se decidiu? <a href="/">Continue comprando</a></p>

        <div class="produtos"></div>

        <div class="outras-infos">
          <h3>Outras informações</h3>
          <section>
            <h4>Política de devolução</h4>
            <p>Cancelamento da compra em até 4h depois da efetivação.</p>
            <p>
              Para devoluções depois de entregue, entre em contato com o nosso
              setor de vendas
            </p>
          </section>
        </div>
      </div>

      <div class="resumo container-dropshadow">
        <h3>Resumo do pedido</h3>

        <form action="">
          <label>
            Adicione seu código de desconto
            <input type="text" placeholder="código de desconto" />
          </label>
        </form>

        <div class="valores">
          <div class="subtotal">
            <h5>Subtotal</h5>
            <p></p>
          </div>

          <div class="frete">
            <h5>Frete</h5>
            <p>Calculado após endereço selecionado</p>
          </div>

          <div class="total">
            <h5>Total</h5>
            <p></p>
          </div>

          <a href="/cadastro" class="botao-secundario">Continuar</a>
        </div>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>

    <script src="/scripts/carrinho.js"></script>
  </body>
</html>
