<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Pagamento</title>
    
</head>
<body>
   <h1>Checkout</h1>
   <h4> Endereço ---- Envio ----Pagamento</h4>
   <img src="../public/img/paypal.jpg" alt="logo paypal"> <img src="../public/img/apple.png" alt="logo applepay">
   <h4> Detalhes de pagamento </h4>

    <form>
         <div>
            <input class="nome" type="text" name="nome" id="nome" placeholder="Nome que está no cartão">
         </div>
         <br>
         <div>
            <input placeholder="Numero do Cartao"/>
        </div> 
        <br>    
        <div>
            <input class="vencimento" type="number" id="mes" maxlength="2" minlength="2" min="1"  max="12" placeholder="Mes">
            <input class="vencimento" type="number" id="ano" maxlength="2" minlength="2" min="1"  max="99" placeholder="Ano">
            <input class="cvv" type="number" name="cvv" id="cvv" maxlength="3" placeholder="cvv">
        </div>
         <br>
        <div>
            <button>Pagar com Cartao </button> 
        </div>
               
    </form>
 </body> 