<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/checkoutEndereco.css" />
    <script src="/scripts/checkoutEndereco.js" defer></script>
    <title>Checkout - Endereço | E-móvel</title>
  </head>

  <body>
    <header>
      <div class="superior">
        <nav class="superior2">
          <ul class="superior3">
            <li>BRL</li>
            <li>FRETE GRÁTIS PARA TODO BRASIL</li>
            <li><a href="">F.A.Q.</a></li>
          </ul>
        </nav>
      </div>
      <div class="inferior">
        <nav>
          <ul class="inferior2">
            <li class="ecommerce">
              <b> <a href="/">E-móvel</a></b>
            </li>
            <li class="interna"><a href="/categorias/mesa">Área Interna</a></li>
            <li class="externa"><a href="/categorias/mesa">Área Externa</a></li>
            <li class="sobre"><a href="/categorias/mesa">Sobre</a></li>
            <img class="lupa" src="/img/lupa.png" alt="" />
            <input class="busca" type="text" placeholder="buscar...." />
            <a href="/carrinho">
              <img class="sacola" src="/img/sacola-gray.svg" alt="" />
              <span>3</span>
            </a>
            <li><a href="/painelUsuario">Minha conta</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="checkout-endereco-container">
      <section class="enderecos-container">
        <h2>Checkout - Endereço</h2>
        <section class="master-section">
          <h3>Selecione um endereço</h3>
          <form action="" method="post">
            <div class="menu-selecao">
              <select name="ordenacao">
                <option value="Endereço1" disabled selected>Selecione um endereço salvo</option>
                <option value="Endereço2">Endereço residencial</option>
                <option value="Endereço3">Endereço comercial</option>
                <option value="Endereço4">Endereço alternativo</option>
              </select>
            </div>
            <button href="/checkoutpagamento" class="botao-secundario">
              Escolher forma de pagamento
            </button>
          </form>
        </section>

        <section class="master-section-novo">
          <h3>Novo endereço</h3>
          <ul id="erros"></ul>
          <form action="" method="post" id="form-novo-endereco">
            <div>
              <label for="nome">Nome:</label>
              <input
                type="text"
                id="nome"
                name="nome"
                placeholder="Endereço casa"
                
              />
            </div>
            <div>
              <label for="cep">CEP:</label>
              <input type="text" id="cep" name="cep" placeholder="CEP" maxlength="9" required/>
            </div>
            <div>
              <label for="endereco">Endereço:</label>
              <input
                type="text"
                id="endereco"
                name="endereco"
                placeholder="Endereço"
                required
              />
            </div>
            <div>
              <label for="numero">Número: </label>
              <input
                type="text"
                id="numero"
                name="numero"
                placeholder="Número"
                required
              />
            </div>
            <div>
              <label for="complemento">Complemento:</label>
              <input
                type="text"
                placeholder="Apartamento, suíte, etc (opcional)"
                id="complemento"
                name="complemento"
              />
            </div>
            <div>
              <label for="bairro">Bairro:</label>
              <input
                type="text"
                placeholder="Seu bairro"
                id="bairro"
                name="bairro"
                required
              />
            </div>
            <div class="CidadeEstado">
              <div>
                <label for="cidade">Cidade:</label>
                <input
                  type="text"
                  name="cidade"
                  id="cidade"
                  placeholder="Cidade"
                  required
                />
              </div>
              <div>
                <label for="estado">Estado:</label>
                <input
                  type="text"
                  name="estado"
                  id="estado"
                  placeholder="Estado"
                  required
                  maxlength="2"
                />
              </div>
            </div>
            <button type="submit" class="botao-secundario">
              Salvar e escolher forma de pagamento
            </button>
          </form>
        </section>
      </section>
      <section class="carrinho-container">
        <h3>Resumo da compra</h3>
        <div class="resumo-compra">
          <form action="">
            <label>
              Adicione seu código de desconto
              <input type="text" placeholder="código de desconto" />
            </label>
          </form>
          <div class="resumo">
            <p>Subtotal</p>
            <p class="valor">R$ 2.400,00</p>
          </div>
          <div class="resumo">
            <p>Frete</p>
            <p class="valor">Calculado na próxima página</p>
          </div>
          <div class="resumo">
            <p>Total</p>
            <p class="valor">R$ 2.400,00</p>
          </div>
        </div>

        <h3>Seu carrinho</h3>
        <div class="card-produto-carrinho">
          <div class="img-container">
            <a href="/produto">
              <img
                src="/img/mesa-monaco.png"
                alt="Foto Mesa de jantar Mônaco"
              />
            </a>
          </div>
          <div class="produto-info">
            <a href="/produto">
              <h5>Mesa de Jantar Mônaco</h5>
            </a>
            <p class="variacao">Tampo madeira</p>
            <p class="quantidade">Quantidade: 1</p>
            <p class="preco">R$ 800,00</p>
          </div>
        </div>
        <div class="card-produto-carrinho">
          <div class="img-container">
            <a href="/produto">
              <img src="/img/mesa-dora.png" alt="Foto Mesa de jantar Dora" />
            </a>
          </div>
          <div class="produto-info">
            <a href="/produto">
              <h5>Mesa de Jantar Dora</h5>
            </a>
            <p class="variacao">Tampo madeira</p>
            <p class="quantidade">Quantidade: 1</p>
            <p class="preco">R$ 800,00</p>
          </div>
        </div>
        <div class="card-produto-carrinho">
          <div class="img-container">
            <a href="/produto">
              <img src="/img/mesa-plana.png" alt="Foto Mesa de jantar Plana" />
            </a>
          </div>
          <div class="produto-info">
            <a href="/produto">
              <h5>Mesa de Jantar Plana</h5>
            </a>
            <p class="variacao">Tampo madeira</p>
            <p class="quantidade">Quantidade: 1</p>
            <p class="preco">R$ 800,00</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="conteudo">
        <div class="newsletter">
          <h3>Cadastre-se na nossa newsletter</h3>
          <p>Receba no seu e-mail novidades e as melhores promoções.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="seu e-mail" />
            <button>Cadastrar</button>
          </div>
        </div>

        <nav class="menu">
          <ul>
            <li class="categoria-principal">
              <a href="/categorias/area"> Área Interna </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/escritório"> Escritório </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">
              <a href="/categorias/externa"> Área Externa </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/balancos"> Balanços </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">Sobre</li>
            <li>
              <a href="/quem-somos"> Quem somos </a>
            </li>
            <li>
              <a href="/faq"> F.A.Q </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p>E-móvel 2022-2022</p>
      </div>
    </footer>
  </body>
</html>
