<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Public+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/checkoutEndereco.css">
    <title>checkoutDeEndereco</title>
</head>

<body>
    <header>
        <div class="superior">
            <nav class="superior2">
                <ul>
                    <ul class="superior3">
                        <li>BRL</li>
                        <li>FRETE GRÁTIS PARA TODO BRASIL
                        <li> <a href="">F.A.Q.</a></li>
                    </ul>
            </nav>
        </div>
        <div class="inferior">
            <nav>
                <ul>
                    <ul class="inferior2">
                        <li class="ecommerce"> <b> <a href="">Ecommerce</a></b></li>
                        <li class="interna"> <a href="">Área Interna</a></li>
                        <li class="externa"> <a href="">Área Externa</a> </li>
                        <li class="sobre"> <a href="">Sobre</a></li>
                        <img class="lupa" src="/img/lupa.png" alt="">
                        <input class="busca" type="buscar" placeholder="buscar....">
                        <img class="sacola" src="/img/sacola.png" alt="">
                        <span>0</span>
                        <li> <a href="">Login</a></li>
                    </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="master-section">
            <h2>Selecione um endereço</h2>

            <div class="menu-selecao">
                <select name="ordenacao">
                    <option value="Endereço1">Endereço residencial</option>
                    <option value="Endereço2">Endereço comercial</option>
                    <option value="Endereço3">Endereço alternativo</option>
                </select>
            </div>
            <a href="link de forma de pagamento">Escolher forma de pagamento</a>
        </section>

        <section class="master-section-novo">
            <h2>Novo endereço</h2>
            <input type="text" placeholder="Nome do Destinatário" />
            <input type="number" placeholder="CEP" />
            <input type="text" placeholder="Endereço" />
            <input type="number" placeholder="Número" />
            <input type="number" placeholder="Apartamento, suíte, etc(opcional)" />
            <div class="Cidade">
                <select name="Cidade">
                    <option value="Cidade1">Cidade</option>
                    <option value="Cidade2">São Paulo(capital)</option>
                    <option value="Cidade3">Porto Alegre</option>
                    <option value="Cidade4">Salvador</option>
                </select>
            </div>
            <div class="Estado">
                <select name="Estado">
                    <option value="Estado1">Estado</option>
                    <option value="Estado2">SP</option>
                    <option value="Estado3">RS</option>
                    <option value="Estado4">BA</option>
                </select>
            </div>
            <input type="text" placeholder="Observações" />
            <a href="link de forma de pagamento">Escolher forma de pagamento</a>
        </section>
        <footer>
            <div class="conteudo">
                <div class="newsletter">
                    <h3>Cadastre-se na nossa newsletter</h3>
                    <p>Receba no seu e-mail novidades e as melhores promoções.</p>
                    <div class="input-wrapper">
                        <input type="text" placeholder="seu e-mail" />
                        <button>Cadastrar</button>
                    </div>
                </div>

                <nav class="menu">
                    <ul>
                        <li class="categoria-principal">
                            <a href="/area-interna"> Área Interna </a>
                        </li>
                        <li>
                            <a href="/area-interna/mesas"> Mesas </a>
                        </li>
                        <li>
                            <a href="/area-interna/cadeiras"> Cadeiras </a>
                        </li>
                        <li>
                            <a href="/area-interna/sofas"> Sofás </a>
                        </li>
                        <li>
                            <a href="/area-interna/escritório"> Escritório </a>
                        </li>
                    </ul>

                    <ul>
                        <li class="categoria-principal">
                            <a href="/area-externa"> Área Externa </a>
                        </li>
                        <li>
                            <a href="/area-externa/mesas"> Mesas </a>
                        </li>
                        <li>
                            <a href="/area-externa/cadeiras"> Cadeiras </a>
                        </li>
                        <li>
                            <a href="/area-externa/sofas"> Sofás </a>
                        </li>
                        <li>
                            <a href="/area-externa/balancos"> Balanços </a>
                        </li>
                    </ul>

                    <ul>
                        <li class="categoria-principal">Sobre</li>
                        <li>
                            <a href="/quem-somos"> Quem somos </a>
                        </li>
                        <li>
                            <a href="/faq"> F.A.Q </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="copyright">
                <p>E-Commerce 2022-2022</p>
            </div>
        </footer>

</body>

</html>