<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout Pagamento | E-móvel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/chekoutPagamento.css" />
    <script src="/scripts/pagamento.js"></script>
  </head>

  <body>
    <header>
      <div class="superior">
        <nav class="superior2">
          <ul class="superior3">
            <li id="brl">BRL</li>
            <li id="frete">FRETE GRÁTIS PARA TODO BRASIL</li>
            <li id="faq"><a href="">F.A.Q.</a></li>
          </ul>
        </nav>
      </div>
      <div class="menu-mobile">
        <div class="mobile-logo">
          <a href="/">
            <img src="/img/logo.svg" />
          </a>
        </div>
        <input type="checkbox" id="bt_menu" />
        <label for="bt_menu">&#9776;</label>
      </div>
      <div class="inferior">
        <nav>
          <ul class="inferior2">
            <li class="logo-wrapper">
              <a href="/">
                <img src="/img/logo.svg" />
              </a>
            </li>
            <li class="interna">
              <a href="/categorias/mesa">Área Interna</a>
              <ul class="parteInterna">
                <li><a href="/categorias/mesa">Cadeiras</a></li>
                <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
                <li><a href="/categorias/mesa">Mesa de centro</a></li>
                <li><a href="/categorias/mesa">Sofás</a></li>
                <li><a href="/categorias/mesa">Cômodas</a></li>
                <li><a href="/categorias/mesa">Mesa Laterais</a></li>
                <li><a href="/categorias/mesa">Escritório</a></li>
                <li><a href="/categorias/mesa">Camas</a></li>
              </ul>
            </li>
            <li class="externa">
              <a href="/categorias/mesa">Área Externa</a>
              <ul class="parteExterna" id="Externa">
                <li><a href="/categorias/mesa">Cadeiras</a></li>
                <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
                <li><a href="/categorias/mesa">Mesa de centro</a></li>
                <li><a href="/categorias/mesa">Sofás</a></li>
                <li><a href="/categorias/mesa">Cômodas</a></li>
                <li><a href="/categorias/mesa">Mesa Laterais</a></li>
              </ul>
            </li>
            <li class="sobre">
              <a href="/categorias/mesa">Sobre</a>
            </li>
            <img class="lupa" src="/img/lupa.png" alt="" />
            <input class="busca" type="text" placeholder="buscar...." />

            <li>
              <a href="/carrinho">
                <img class="sacola" src="/img/sacola-gray.svg" alt="" />
                <span id="span">3</span>
              </a>
            </li>
            <li>
              <a href="/painelUsuario">Minha conta</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h4>Checkout - Forma de Pagamento</h4>
      <a href="/checkoutDeEndereco" class="voltar-checkout"
        >Voltar para endereço</a
      >
      <div class="flex" id="container 1">
        <div class="coluna1">
          <form
            class="reservada"
            id="Form-Cartao"
            method="POST"
            action=""
            enctype=""
          >
            <div class="campos">
              <h3>Pagar com Pix</h3>
              <button class="botao-primario" type="submit">
                Ver dados para pagamento com pix
              </button>
              <h3>Pagar com Cartão de Crédito</h3>
              <div class="no-errors" id="div-errors">
                <ul></ul>
              </div>
              <label for="nome" class="label-nome">Nome no cartão</label>
              <input
                class="nome"
                type="text"
                name="nome"
                id="nome"
                placeholder="João da Silva"
                required
              />
              <label for="Numero">Número do cartão</label>
              <input
                class="Cartao"
                type="numeric"
                name="Numero"
                id="Numero"
                maxlength="15"
                placeholder="123456789123456"
                required
              />
              <div class="junto">
                <label for="mes"
                  >Mês
                  <input
                    class="vencimento"
                    type="numeric"
                    name="mes"
                    maxlength="2"
                    id="mes"
                    placeholder="01"
                    required
                  />
                </label>
                <label for="ano"
                  >Ano
                  <input
                    class="vencimento"
                    type="numeric"
                    id="ano"
                    maxlength="2"
                    placeholder="24"
                    required
                  />
                </label>
                <label for="cvv"
                  >CVV
                  <input
                    class="cvv"
                    type="numeric"
                    id="cvv"
                    maxlength="3"
                    placeholder="111"
                    required
                  />
                </label>
              </div>
              <div class="texto-form">
                <label for="">
                  Salvar dados para uma compra futura
                  <input type="checkbox" />
                </label>
              </div>
              <button class="botao-secundario" type="submit">
                Pagar com Cartao
              </button>
            </div>
          </form>
        </div>
        <div class="coluna2 container-dropshadow" id="container 2">
          <h3>Resumo da compra</h3>
          <div class="resumo-compra">
            <div class="resumo">
              <p>Subtotal</p>
              <p class="valor">R$ 2.400,00</p>
            </div>
            <div class="resumo">
              <p>Frete</p>
              <p class="valor">R$ 900,00</p>
            </div>
            <div class="resumo">
              <p>Total</p>
              <p class="valor">R$ 3.300,00</p>
            </div>
          </div>
          <h3>Seu carrinho</h3>
          <div class="card-produto-carrinho">
            <div class="img-container">
              <a href="/produto">
                <img
                  src="/img/mesa-monaco.png"
                  alt="Foto Mesa de jantar Mônaco"
                />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h5>Mesa de Jantar Mônaco</h5>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
          </div>
          <div class="card-produto-carrinho">
            <div class="img-container">
              <a href="/produto">
                <img src="/img/mesa-dora.png" alt="Foto Mesa de jantar Dora" />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h5>Mesa de Jantar Dora</h5>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
          </div>
          <div class="card-produto-carrinho">
            <div class="img-container">
              <a href="/produto">
                <img
                  src="/img/mesa-plana.png"
                  alt="Foto Mesa de jantar Plana"
                />
              </a>
            </div>
            <div class="produto-info">
              <a href="/produto">
                <h5>Mesa de Jantar Plana</h5>
              </a>
              <p class="variacao">Tampo madeira</p>
              <p class="quantidade">Quantidade: 1</p>
              <p class="preco">R$ 800,00</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="conteudo">
        <div class="newsletter">
          <h3>Cadastre-se na nossa newsletter</h3>
          <p>Receba no seu e-mail novidades e as melhores promoções.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="seu e-mail" />
            <button>Cadastrar</button>
          </div>
        </div>

        <nav class="menu">
          <ul>
            <li class="categoria-principal">
              <a href="/categorias/area"> Área Interna </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/escritório"> Escritório </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">
              <a href="/categorias/externa"> Área Externa </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/balancos"> Balanços </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">Sobre</li>
            <li>
              <a href="/quem-somos"> Quem somos </a>
            </li>
            <li>
              <a href="/faq"> F.A.Q </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p>E-móvel 2022-2023</p>
      </div>
    </footer>
  </body>
</html>
