<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkoutPagamento</title>
    <link rel="stylesheet" href="/public/css/chekoutPagamento.css">

</head>


<body>

    <header>
        <h1>
            Ecommerce
        </h1>
 
    </header>
   
    <div class="Titulos">
        <h4>
            Chekout
         </h4>
         
    </div>
   
   
   
   
    <form id="Form-Cartao" method="POST" action="" enctype="">
        <div class="campos">
            <input class="nome" type="text" name="nome" id="nome" placeholder="Nome que está no cartão">
            <br>
            <input class="Cartao" type="number" name="Numero" id="Numero" placeholder="Numero que está no cartão">
            <br>
                <div>
                    <input class="vencimento" type="number" id="mes" placeholder="Mes" >
                    <input class="vencimento" type="number" id="ano" placeholder="Ano">
                    <input class="cvv" type="number" name="cvv" id="cvv" placeholder="cvv">
                 </div>
                 <br>
            <button>Pagar com Cartao </button>
        </div>
    </form>

</body>

</html>