<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compra confirmada | Ecommerce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/finalizacaoCompra.css" />
  </head>
  <body>
    <header>
      <p>Aqui vai o header</p>
    </header>

    <main class="finalizacao-pg-container">
      <span class="aprovado">
        <img src="/img/check.svg" alt="Aprovada" />
      </span>

      <h1>Compra aprovada</h1>
      <p>
        Recebemos o seu pedido e em breve ele será separado. Você receberá todas
        as alterações de status diretamente no seu e-mail.
      </p>
      <p>Muito obrigado por contar com a gente!</p>
      <div class="botoes-container">
        <a class="botao-primario" href="/">Minhas compras</a>
        <a class="botao-secundario" href="/">Continuar navegando</a>
      </div>
    </main>

    <footer>
      <p>Aqui vai o footer</p>
    </footer>
  </body>
</html>
