<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>HEADER</title>
</head>

<body>
    <header>
        <div class="superior">
            <nav class="superior2">
                <ul class="superior3">
                    <li>BRL</li>
                    <li>FRETE GRÁTIS PARA TODO BRASIL</li>
                    <li> <a href="">F.A.Q.</a></li>
                </ul>
            </nav>
        </div>
        <div class="inferior">
            <nav>
                <ul class="inferior2">
                    <li class="ecommerce"> <b> <a href="/">E-móvel</a></b></li>
                    <li class="interna"> <a href="#">Área Interna</a></li>
                    <li class="externa"> <a href="#">Área Externa</a> </li>
                    <li class="sobre"> <a href="#">Sobre</a></li>
                    <img class="lupa" src="/img/lupa.png" alt="">
                    <input class="busca" type="text" placeholder="buscar....">
                    <img class="sacola" src="/img/sacola.png" alt="">
                    <span>0</span>
                    <li> <a href="/cadastro">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>