<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/estilos.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <title>HEADER</title>
</head>

<body>
  <header>
    <div class="superior">
      <nav class="superior2">
        <ul class="superior3">
          <li>BRL</li>
          <li>FRETE GRÁTIS PARA TODO BRASIL</li>
          <li><a href="">F.A.Q.</a></li>
        </ul>
      </nav>
    </div>
    <div class="inferior">
      <nav>
        <ul class="inferior2">
          <li class="ecommerce"><b> <a href="/">E-móvel</a></b></li>
          <li class="interna"><a href="/categorias/mesa">Área Interna</a>
            <ul class="parteInterna">
              <li><a href="/categorias/mesa">Cadeiras</li></a>
              <li><a href="/categorias/mesa">Mesa de Jantar</li></a>
              <li><a href="/categorias/mesa">Mesa de centro</li></a>
              <li><a href="/categorias/mesa">Sofás</li></a>
              <li><a href="/categorias/mesa">Cômodas</li></a>
              <li><a href="/categorias/mesa">Mesa Laterais</li></a>
              <li><a href="/categorias/mesa">Escritório</li></a>
              <li><a href="/categorias/mesa">Camas</li></a>
            </ul>
          </li>
          <li class="externa"><a href="/categorias/mesa">Área Externa</a>
            <ul class="parteExterna">
              <li><a href="/categorias/mesa">Cadeiras</li></a>
              <li><a href="/categorias/mesa">Mesa de Jantar</li></a>
              <li><a href="/categorias/mesa">Mesa de centro</li></a>
              <li><a href="/categorias/mesa">Sofás</li></a>
              <li><a href="/categorias/mesa">Cômodas</li></a>
              <li><a href="/categorias/mesa">Mesa Laterais</li></a>
            </ul>
          </li>
          <li class="sobre"><a href="/categorias/mesa">Sobre</a></li>
          <img class="lupa" src="/img/lupa.png" alt="" />
          <input class="busca" type="text" placeholder="buscar...." />
          <a href="/carrinho">
            <img class="sacola" src="/img/sacola-gray.svg" alt="" />
            <span>3</span>
          </a>
          <li class="painelusuario"><a href="/painelUsuario">Minha conta</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>

</html>