<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <title>HEADER</title>
</head>

<body>
    <header>
        <div class="superior">
            <nav class="superior2">
                <ul>
                    <ul class="superior3">
                        <li>BRL</li>
                        <li>FRETE GRÁTIS PARA TODO BRASIL
                        <li> <a href="">F.A.Q.</a></li>
                    </ul>
            </nav>
        </div>
        <div class="inferior">
            <nav>
                <ul>
                    <ul class="inferior2">
                        <li class="ecommerce"> <b> <a href="">Ecommerce</a></b></li>
                        <li class="interna"> <a href="">Área Interna</a></li>
                        <li class="externa"> <a href="">Área Externa</a> </li>
                        <li class="sobre"> <a href="">Sobre</a></li>
                        <img class="lupa" src="/public/img/lupa.png" alt="">
                        <input class="busca" type="buscar" placeholder="buscar....">
                        <img class="sacola" src="/public/img/sacola.png" alt="">
                        <span>0</span>
                        <li> <a href="">Login</a></li>
                    </ul>
            </nav>
        </div>
    </header>
</body>

</html>