<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com/specimen/Merriweather?query=Merriweather" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Public+Sans?query=public" rel="stylesheet">
    <link rel= "stylesheet" href= "/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
    "aqui vai o header"
    </header>
    <main>
        <section class="banner">
            <h3 class="banner-text">SOFÁS E CADEIRAS EM PROMOÇÃO</h3>
            <a href="link de produto"><button1>Veja mais</button1></a>
        </section>
</body>
</html>