<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas de Jantar - E-commerce</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/listagemProdutos.css">
</head>
<body>
    <header>
        <p>Aqui vai o header</p>
    </header>
    
    <div class="banner-categoria">
        <div class="titulo-container">
            <h2>Mesas de Jantar</h2>
            <p>É um item fundamental para a casa.</p>
            <p>Pequenas, grandes, de vidro ou madeira, você encontra aqui!</p>
        </div>

        <div class="icone-container">
            <img src="/img/mesa-icone.svg" alt="Ícone mesa de jantar" />
        </div>
    </div>
    
    <main>

        <div class="filtros-container">
            <div class="header">
                <h4>Filtros</h4>
                <p>Limpar filtros</p>
            </div>
            <form>
                <span>
                    <input name="madeira" type="checkbox"> 
                    <label for="madeira">Madeira</label>
                </span>

                <span>
                    <input name="vidro" type="checkbox"> 
                    <label for="vidro">Vidro</label>
                </span>

                <span>
                    <input name="redonda" type="checkbox"> 
                    <label for="redonda">Redondo</label>
                </span>
            </form>
        </div>

    </main>

    <footer>
        <p>Aqui vai o footer</p>
    </footer>

</body>
</html>