<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mesas de Jantar | E-móvel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/listagemProdutos.css" />
  </head>
  <body>
    <header>
      <div class="superior">
        <nav class="superior2">
          <ul class="superior3">
            <li id="brl">BRL</li>
            <li id="frete">FRETE GRÁTIS PARA TODO BRASIL</li>
            <li id="faq"><a href="">F.A.Q.</a></li>
          </ul>
        </nav>
      </div>
      <div class="menu-mobile">
        <div class="mobile-logo">
          <a href="/">
            <img src="/img/logo.svg" />
          </a>
        </div>
        <input type="checkbox" id="bt_menu" />
        <label for="bt_menu">&#9776;</label>
      </div>
      <div class="inferior">
        <nav>
          <ul class="inferior2">
            <li class="logo-wrapper">
              <a href="/">
                <img src="/img/logo.svg" />
              </a>
            </li>
            <li class="interna">
              <a href="/categorias/mesa">Área Interna</a>
              <ul class="parteInterna">
                <li><a href="/categorias/mesa">Cadeiras</a></li>
                <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
                <li><a href="/categorias/mesa">Mesa de centro</a></li>
                <li><a href="/categorias/mesa">Sofás</a></li>
                <li><a href="/categorias/mesa">Cômodas</a></li>
                <li><a href="/categorias/mesa">Mesa Laterais</a></li>
                <li><a href="/categorias/mesa">Escritório</a></li>
                <li><a href="/categorias/mesa">Camas</a></li>
              </ul>
            </li>
            <li class="externa">
              <a href="/categorias/mesa">Área Externa</a>
              <ul class="parteExterna" id="Externa">
                <li><a href="/categorias/mesa">Cadeiras</a></li>
                <li><a href="/categorias/mesa">Mesa de Jantar</a></li>
                <li><a href="/categorias/mesa">Mesa de centro</a></li>
                <li><a href="/categorias/mesa">Sofás</a></li>
                <li><a href="/categorias/mesa">Cômodas</a></li>
                <li><a href="/categorias/mesa">Mesa Laterais</a></li>
              </ul>
            </li>
            <li class="sobre">
              <a href="/categorias/mesa">Sobre</a>
            </li>
            <img class="lupa" src="/img/lupa.png" alt="" />
            <input class="busca" type="text" placeholder="buscar...." />

            <li>
              <a href="/carrinho">
                <img class="sacola" src="/img/sacola-gray.svg" alt="" />
                <span id="span">3</span>
              </a>
            </li>
            <li>
              <a href="/painelUsuario">Minha conta</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner-categoria">
      <div class="titulo-container">
        <h2>Mesas de Jantar</h2>
        <p>É um item fundamental para a casa.</p>
        <p>Pequenas, grandes, de vidro ou madeira, você encontra aqui!</p>
      </div>

      <div class="icone-container">
        <img src="/img/mesa-icone.svg" alt="Ícone mesa de jantar" />
      </div>
    </div>

    <main>
      <div class="filtros-container">
        <div class="header">
          <h4>Filtros</h4>
          <p>Limpar filtros</p>
        </div>
        <form>
          <span>
            <input name="madeira" type="checkbox" />
            <label for="madeira">Madeira</label>
          </span>

          <span>
            <input name="vidro" type="checkbox" />
            <label for="vidro">Vidro</label>
          </span>

          <span>
            <input name="redonda" type="checkbox" />
            <label for="redonda">Redondo</label>
          </span>
        </form>
      </div>

      <div class="produtos-container">
        <div class="ordenacao-container">
          <form class="menu-selecao">
            <p>Ordenar por:</p>
            <select name="ordenacao">
              <option value="">Menor preço</option>
              <option value="maior-preco">Maior preço</option>
              <option value="novidades">Novidades</option>
            </select>
          </form>
          <p class="quantidade-produtos">Mostrando 500 produtos</p>
        </div>

        <div class="produtos">
          <div>
            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img class="imagem-produto" src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" />
                </div>
                <div class="informacoes-container">
                  <h3 class="titulo-produto">Mesa de Jantar Mônaco</h3>
                  <p class="preco-produto">R$ 800,00</p>
                </div>
              </a>
              <button class="comprar botao-secundario add-cart">
                Adicionar ao carrinho
              </button>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img class="imagem-produto" src="/img/mesa-aspen.jpg" alt="Mesa de Jantar Aspen" />
                </div>
                <div class="informacoes-container">
                  <h3 class="titulo-produto">Mesa de Jantar Aspen</h3>
                  <p class="preco-produto">R$ 800,00</p>
                </div>
              </a>
              <button class="comprar botao-secundario add-cart">
                Adicionar ao carrinho
              </button>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img class="imagem-produto" src="/img/mesa-bio.png" alt="Mesa de Jantar Bio" />
                </div>
                <div class="informacoes-container">
                  <h3 class="titulo-produto">Mesa de Jantar Bio</h3>
                  <p class="preco-produto">R$ 800,00</p>
                </div>
              </a>
              <button class="comprar botao-secundario add-cart">
                Adicionar ao carrinho
              </button>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img class="imagem-produto" src="/img/mesa-dora.png" alt="Mesa de Jantar Dora" />
                </div>
                <div class="informacoes-container">
                  <h3 class="titulo-produto">Mesa de Jantar Dora</h3>
                  <p class="preco-produto">R$ 800,00</p>
                </div>
              </a>
              <button class="comprar botao-secundario add-cart">
                Adicionar ao carrinho
              </button>
            </div>
          </div>
        </div>

        <div class="botao-container">
          <button class="carregar-mais botao-primario">
            Ver mais produtos
          </button>
        </div>
      </div>
    </main>

    <footer>
      <div class="conteudo">
        <div class="newsletter">
          <h3>Cadastre-se na nossa newsletter</h3>
          <p>Receba no seu e-mail novidades e as melhores promoções.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="seu e-mail" />
            <button>Cadastrar</button>
          </div>
        </div>

        <nav class="menu">
          <ul>
            <li class="categoria-principal">
              <a href="/categorias/area"> Área Interna </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/escritório"> Escritório </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">
              <a href="/categorias/externa"> Área Externa </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/balancos"> Balanços </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">Sobre</li>
            <li>
              <a href="/quem-somos"> Quem somos </a>
            </li>
            <li>
              <a href="/faq"> F.A.Q </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p>E-móvel 2022-2023</p>
      </div>
    </footer>
    <script src="/scripts/geral.js"></script>
  </body>
</html>
