<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {css: ["listagemProdutos.css"], titulo: "listagem-produtos_E-móvel"}) %>
  </head>
  <body>
    <%- include("partials/header") %>
    <div class="banner-categoria">
      <div class="titulo-container">
        <h2>Mesas de Jantar</h2>
        <p>É um item fundamental para a casa.</p>
        <p>Pequenas, grandes, de vidro ou madeira, você encontra aqui!</p>
      </div>

      <div class="icone-container">
        <img src="/img/mesa-icone.svg" alt="Ícone mesa de jantar" />
      </div>
    </div>

    <main>
      <div class="filtros-container">
        <div class="header">
          <h4>Filtros</h4>
          <p>Limpar filtros</p>
        </div>
        <form>
          <span>
            <input name="madeira" type="checkbox" />
            <label for="madeira">Madeira</label>
          </span>

          <span>
            <input name="vidro" type="checkbox" />
            <label for="vidro">Vidro</label>
          </span>

          <span>
            <input name="redonda" type="checkbox" />
            <label for="redonda">Redondo</label>
          </span>
        </form>
      </div>

      <div class="produtos-container">
        <div class="ordenacao-container">
          <form class="menu-selecao">
            <p>Ordenar por:</p>
            <select name="ordenacao">
              <option value="">Menor preço</option>
              <option value="maior-preco">Maior preço</option>
              <option value="novidades">Novidades</option>
            </select>
          </form>
          <p class="quantidade-produtos">Mostrando 500 produtos</p>
        </div>

        <div class="produtos">
          <div>
            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" />
                </div>
                <div class="informacoes-container">
                  <h3>Mesa de Jantar Mônaco</h3>
                  <p>R$ 800,00</p>
                </div>

                <button class="comprar botao-secundario">
                  Adicionar ao carrinho
                </button>
              </a>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img src="/img/mesa-aspen.jpg" alt="Mesa de Jantar Aspen" />
                </div>
                <div class="informacoes-container">
                  <h3>Mesa de Jantar Aspen</h3>
                  <p>R$ 800,00</p>
                </div>

                <button class="comprar botao-secundario">
                  Adicionar ao carrinho
                </button>
              </a>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img src="/img/mesa-bio.png" alt="Mesa de Jantar Bio" />
                </div>
                <div class="informacoes-container">
                  <h3>Mesa de Jantar Bio</h3>
                  <p>R$ 800,00</p>
                </div>

                <button class="comprar botao-secundario">
                  Adicionar ao carrinho
                </button>
              </a>
            </div>

            <div class="produto">
              <a href="/produto">
                <div class="img-container">
                  <img src="/img/mesa-dora.png" alt="Mesa de Jantar Dora" />
                </div>
                <div class="informacoes-container">
                  <h3>Mesa de Jantar Dora</h3>
                  <p>R$ 800,00</p>
                </div>

                <button class="comprar botao-secundario">
                  Adicionar ao carrinho
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="botao-container">
          <button class="carregar-mais botao-primario">
            Ver mais produtos
          </button>
        </div>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
