<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>

<body>


    <div class="container">



        <div class="font">
            <h1>Bem vindo de volta</h1>
        </div>

        <div class="font1">
            <h3>Login para Continuar </h3>
        </div>

    </div>
        



        <div class="facebook">
            <button type="facebook" value="Continuar com facebook">Continuar com facebook</button>

        </div>

        <div class="google">
            <button type="google" value="Continuar com google">Continuar com google</button>
        </div>

        <div class="email">
            <img src="" alt="">
            <button type="email" value="Continuar com Email">Continuar com Email</button>
        </div>

        <div class="conta">
            <button type="submit" value="Criar Conta">Cria Conta</button>
        </div>

       
        


    

</body>

</html>