<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Página Mestre</title>
</head>
<body>
    <main>

        <section>
            <h2>checkbox</h2>
    
            <input name="campo" type="checkbox"> 
            <label for="Campo">Texto do checkbox</label>
        </section>


        <section>
            <h2>menu seleção</h2>
    
            <div class="ordenacao-container">
                <form class="menu-selecao">
                    <p>Ordenar por: </p>
                    <select name="ordenacao">
                        <option value="">Menor preço</option>
                        <option value="maior-preco">Maior preço</option>
                        <option value="novidades">Novidades</option>
                    </select>
                </form>
            </div>
        </section>
        
        <section>
            <h2>botão primário</h2>
            <button class="comprar botao-secundario">
                Adicionar ao carrinho
            </button>
        </section>

        <section>
            <h2>botão secundário</h2>
            <button class="carregar-mais botao-primario">Ver mais produtos</button>
        </section>



    </main>
</body>
</html>