<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
    <title>Página Mestre</title>
</head>
<body>
    <main>

        <section>
            <h2>checkbox</h2>
    
            <input name="campo" type="checkbox"> 
            <label for="Campo">Texto do checkbox</label>
        </section>


        <section class="ordenacao-section">
            <h2>menu seleção</h2>
    
                <div class="menu-selecao">
                    <select name="ordenacao">
                        <option value="">Menor preço</option>
                        <option value="maior-preco">Maior preço</option>
                        <option value="novidades">Novidades</option>
                    </select>
            </div>
        </section>
        
        <section>
            <h2>botão primário</h2>
            <button class="comprar botao-secundario">
                Adicionar ao carrinho
            </button>
        </section>

        <section>
            <h2>botão secundário</h2>
            <button class="carregar-mais botao-primario">Ver mais produtos</button>
        </section>

        <section>
            <h2>seletor de quantidade</h2>
            <input type="number" inputmode="numeric" value="1" min="1" class="seletor-quantidade">
        </section>



    </main>
</body>
</html>