<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Painel de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="/css/painelUsuario.css">
</head>

<body>
    <main>
        <div id="container-a">
            <h1>Painel do Usuario</h1>
            <img class="imglogin" src="/img/img.jpg" alt="">
            <form class="botao-primario">
                <label class="alterar-img">
                    Alterar
                    <input type="file"name="foto">

                </label>
                    <label for="Nome">
                        Seu Nome
                        <input type="text" placeholder="Marcos dos santos" name="Nome" id="Nome" class="form-control"
                            required>
                    </label>
                    <label for="E-mail">
                        E-mail
                        <input type="text" placeholder="Marcos@uol.com" name="E-mail" id="E-mail" class="form-control"
                            required>
                    </label>
                    <label for="Digite sua Senha">
                        Senha
                        <input type="text" placeholder="Senha" name="Password" id="Password" class="form-control"
                            required>
                    </label>

                    <button class="botao-secundario">Alterar dados</button>

            </form>
        </div>
        <div id="container-b">
            <h2>Endereço de Entrega</h2>
            <input type="text" placeholder="Rua itú São paulo SP" name="Endereço" id="Endereço" class="form-control"
                required>
            <button class="botao-secundario">Alterar</button>
            <h2>Status de Pedidos</h2>
            Pedidos
            <select name="ordenacao">
                <option value="">Entregues..</option>
                <option value="concluidos">Finalizados..</option>
                <option value="a-caminho">Em andamento</option>
            </select>
            <button class="botao-primario">Novo Pedido</button>
        </div>

    </main>

</body>

</html>