<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mesa de Jantar Mônaco | E-móvel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/produto.css" />
  </head>
  <body>
    <header>
      <div class="superior">
        <nav class="superior2">
          <ul class="superior3">
            <li>BRL</li>
            <li>FRETE GRÁTIS PARA TODO BRASIL</li>
            <li><a href="">F.A.Q.</a></li>
          </ul>
        </nav>
      </div>
      <div class="inferior">
        <nav>
          <ul class="inferior2">
            <li class="ecommerce">
              <b> <a href="/">E-móvel</a></b>
            </li>
            <li class="interna"><a href="/categorias/mesa">Área Interna</a></li>
            <li class="externa"><a href="/categorias/mesa">Área Externa</a></li>
            <li class="sobre"><a href="/categorias/mesa">Sobre</a></li>
            <img class="lupa" src="/img/lupa.png" alt="" />
            <input class="busca" type="text" placeholder="buscar...." />
            <a href="/carrinho">
              <img class="sacola" src="/img/sacola-gray.svg" alt="" />
              <span>3</span>
            </a>
            <li><a href="/painelUsuario">Minha conta</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="produto-container">
      <section class="img-container">
        <img src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" />
        <span class="proxima-img">
          <img src="/img/arrow-right.svg" alt="proxima foto" />
        </span>
        <div class="produto-images">
          <img src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" />
          <img src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" />
        </div>
      </section>

      <section class="info-container">
        <h1>Mesa de Jantar Mônaco</h1>
        <h3>R$ 800,00</h3>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam
          minima necessitatibus, quis blanditiis exercitationem veniam earum
          error quam cupiditate iste vitae accusamus voluptatem corporis ullam?
          Eos sit nisi vero.
        </p>

        <p class="medidas">Medidas: 90 x 90 x 90cm</p>

        <form>
          <div class="seletor-quantidade">
            <span id="btn-subtrai">-</span>
            <input
              id="quantidade"
              type="number"
              inputmode="numeric"
              value="1"
              min="1"
            />
            <span id="btn-adiciona">+</span>
          </div>
          <div class="ordenacao-container">
            <div class="menu-selecao">
              <select name="ordenacao">
                <option value="">Tampo Madeira</option>
                <option value="vidro">Tampo Vidro</option>
              </select>
            </div>
          </div>
        </form>

        <a href="/carrinho" class="comprar botao-secundario"
          >Adicionar ao carrinho</a
        >
      </section>
    </main>

    <footer>
      <div class="conteudo">
        <div class="newsletter">
          <h3>Cadastre-se na nossa newsletter</h3>
          <p>Receba no seu e-mail novidades e as melhores promoções.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="seu e-mail" />
            <button>Cadastrar</button>
          </div>
        </div>

        <nav class="menu">
          <ul>
            <li class="categoria-principal">
              <a href="/categorias/area"> Área Interna </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/escritório"> Escritório </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">
              <a href="/categorias/externa"> Área Externa </a>
            </li>
            <li>
              <a href="/categorias/mesas"> Mesas </a>
            </li>
            <li>
              <a href="/categorias/cadeiras"> Cadeiras </a>
            </li>
            <li>
              <a href="/categorias/sofas"> Sofás </a>
            </li>
            <li>
              <a href="/categorias/balancos"> Balanços </a>
            </li>
          </ul>

          <ul>
            <li class="categoria-principal">Sobre</li>
            <li>
              <a href="/quem-somos"> Quem somos </a>
            </li>
            <li>
              <a href="/faq"> F.A.Q </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <p>E-móvel 2022-2023</p>
      </div>
    </footer>

    <script src="/scripts/scripts.js"></script>
  </body>
</html>
