<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesa de Jantar Mônaco | E-Commerce</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/produto.css">
</head>
<body>
    <header>
        <p>Aqui vai o header</p>
    </header>

    <main>
        <section class="img-container">
            <img src="/img/mesa-monaco.png" alt="Mesa de Jantar Mônaco" >
            <span class="proxima-img">></span>
        </section>

        <section class="info-container">
            <h1>Mesa de Jantar Mônaco</h1>
            <h3>R$ 800,00</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam minima necessitatibus, quis blanditiis exercitationem veniam earum error quam cupiditate iste vitae accusamus voluptatem corporis ullam? Eos sit nisi vero.</p>

            <p class="medidas">Medidas: 90 x 90 x 90cm</p>

            <form>
                <input type="number" class="quantidade">
                <div class="ordenacao-container">
                    <div class="menu-selecao">
                        <select name="ordenacao">
                            <option value="">Tampo Madeira</option>
                            <option value="vidro">Tampo Vidro</option>
                        </select>
                    </div>
                </div>
            </form>
            

            <button class="comprar botao-secundario">
                Adicionar ao carrinho
            </button>
        </section>
    </main>


    <footer>
        <p>Aqui vai o footer</p>
    </footer>
</body>
</html>