body.admin-container #novo-produto-form .duas-colunas{
    flex-wrap: nowrap;
    gap: 50px;
}

body.admin-container #novo-produto-form .duas-colunas div{
    width: 48%;
    display: block;
}

body.admin-container #novo-produto-form .duas-colunas div:last-child{
    width: 50%;
}

body.admin-container #novo-produto-form .add-usuario div{
    width: 50%;
    display: block;
}

body.admin-container #novo-produto-form .add-usuario div:last-child{
    width: 50%;
}
