main{
    display: flex;
    justify-content: center;
}

body.admin-container main{
    margin-left: auto;
}

main .form-login-container{
    background-color: var(--cor-principal);
    border-radius: 8px;
    padding: 60px;
    width: 40%;
}

main .form-login-container .erros{
    margin-top:-30px;
    margin-bottom: 30px;
    display: block;
}

main .form-login-container .logo-container{
    width: 100%;
    text-align: center;
}

main .form-login-container .logo-container img{
    width: 30%;
}

main .form-login-container > p{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}


main .form-login-container div{
    margin-bottom: 30px;
}

main label{
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

main .form-login-container input{
    width: 100%;
    padding: 10px;
}

main .form-login-container button{
    width: 100%;
}

@media (max-width:1200px){
    main .form-login-container{
        width: 60%;
    }    
}

@media (max-width:750px){
    main .form-login-container{
        width: 80%;
    }    
}

@media (max-width:600px){
    main .form-login-container{
        width: 100%;
        padding: 20px;
    }
    
    body {
        width: 100%;
        height: 100vh;
        display: block;
        background-color: var(--cor-principal);
    }
}