.sucesso{
  background-color: var(--cor-sucesso);
  padding: 20px 10px;
  font-family: var(--font-paragrafo);
  margin-bottom: 40px;
  color: #fff;
  font-size: 0.9rem;
}

.erros{
  margin-bottom: 40px;
}

body.admin-container .botao-secundario {
  width: 50%;
  background-color: var(--cor-principal);
  margin: 0 auto;
  color: #fff;
  font-size: 0.8rem;
}

body.admin-container form {
  margin-bottom: 40px;
  width: 30%;
}

body.admin-container table tr:nth-child(even) {
  background: #e9e9e9;
}

body.admin-container form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

body.admin-container div {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

body.admin-container form input {
  border-color: var(--cor-texto-secundaria);
  width: 60%;
  display: inline-block;
}

body.admin-container form button {
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

body.admin-container form button:hover {
  opacity: 0.8;
}

body.admin-container form img {
  width: 50%;
  height: auto;
  margin-right: 10px;
}


body.admin-container .retornar-pagina{
  margin-top: -20px;
  display: block;
  color: var(--cor-principal);
  font-family: var(--font-paragrafo);
  text-decoration: none;
}

body.admin-container .retornar-pagina img{
  width: 12px;
}