.carrinho-container {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.carrinho-container h1 {
  font-family: var(--font-paragrafo);
  font-size: 36px;
}

.carrinho-container h3 {
  font-size: 1.4rem;
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.carrinho-container .duas-colunas {
  display: flex;
  justify-content: space-between;
}

.carrinho-container .produtos-container {
  margin-top: 20px;
  width: 50%;
}

.carrinho-container .produtos-container > p {
  margin: 15px 0 50px;
}

.carrinho-container .produtos-container > p > a {
  color: var(--cor-texto-secundaria);
}

.carrinho-container .produtos-container > p > a:hover {
  color: var(--cor-texto-secundaria);
  opacity: 0.8;
}

.carrinho-container .produto {
  display: flex;
  height: 200px;
  position: relative;
  border-bottom: 1.2px solid var(--cor-principal);
}

.carrinho-container .produto:last-child {
  border: none;
}

.carrinho-container .img-container {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.carrinho-container .produto img {
  width: 100%;
  max-height: 100%;
}

.produtos-container .produto-info {
  padding: 1.2rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carrinho-container .produto .produto-info a {
  color: inherit;
  text-decoration: none;
}

.carrinho-container .produto .produto-info a:hover {
  opacity: 0.5;
}

.carrinho-container .produto h2 {
  font-size: 1.4rem;
}

.carrinho-container .produto p {
  font-size: 0.9rem;
}

.carrinho-container .produto .preco {
  font-size: 1.3rem;
  font-weight: bold;
}

.carrinho-container .produto span {
  position: absolute;
  right: 0;
  bottom: 15px;
  color: var(--cor-text-secundaria);
  font-family: var(--font-paragrafo);
  font-size: 0.9rem;
  cursor: pointer;
}

.carrinho-container .outras-infos {
  margin-top: 80px;
}

.carrinho-container .outras-infos h3 {
  border-bottom: 2px solid var(--cor-texto-secundaria);
}

.carrinho-container .outras-infos p,
.carrinho-container .outras-infos h4 {
  color: var(--cor-texto-secundaria);
}

.carrinho-container h4 {
  margin-top: 30px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.carrinho-container .outras-infos section {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.carrinho-container .resumo {
  width: 38%;
  margin-top: 50px;
}

.carrinho-container .resumo label {
  font-size: 0.8rem;
}

.carrinho-container .resumo input {
  width: 100%;
  margin-top: 15px;
}

.carrinho-container .resumo .valores {
  margin-top: 50px;
}

.carrinho-container .resumo .valores > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carrinho-container .resumo .valores h5 {
  font-size: 1rem;
  font-weight: 500;
}

.carrinho-container .resumo .total {
  border-top: 1px solid var(--cor-principal);
  padding-top: 20px;
}

.carrinho-container .resumo a {
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  main.carrinho-container {
    flex-direction: column;
  }

  .carrinho-container .produtos-container {
    width: 100%;
  }

  .carrinho-container .resumo {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .carrinho-container .produtos-container .img-container {
    width: 100px;
  }

  .carrinho-container .produto {
    height: 150px;
  }
  .produtos-container .produto-info {
    height: auto;
  }

  .carrinho-container .produto h2 {
    font-size: 1rem;
  }

  .carrinho-container .produto p {
    font-size: 0.8rem;
  }
}
