main {
  margin-top: 0px;
  margin-bottom: 60px;
}
main .master-section {
  border-color: var(--cor-texto-primaria);
  border-radius: 2px;
  width: 40%;
}

main .master-section h2{
    font-size:36px;
    margin-bottom: 30px;
}

main .master-section .menu-selecao {
  margin: 20px 0 5px;
}

main .master-section-novo {
  border-color: var(--cor-texto-primaria);
  width: 40%;
}

main .master-section-novo h3{
    margin: 60px 0 20px;
}

main .master-section-novo input {
  border: 1px solid var(--cor-texto-secundaria);
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: var(--font-paragrafo);
  font-size: 14px;
}

main .master-section-novo .CidadeEstado {
  margin-bottom: 10px;
  display: flex;
  gap: 3%;
}

main .master-section-novo select {
  background-color: transparent;
  padding: 10px;
  font-family: var(--font-paragrafo);
  border: 1px solid var(--cor-texto-secundaria);
  width: 100%;
}

main .master-section-novo select:last-child {
  width: 30%;
}
