main {
    margin-bottom: 80px;
}

#Form-Cartao {
    width: 100%;

    display: flex;
}

#Form-Cartao .campos {
    display: flex;
    flex-direction: column;
    width: 100%;

}

#Form-Cartao .campos .nome {
    border: 1px solid var(--cor-principal);
}

#Form-cartao imput {

    display: block;
    width: 100%;
    border-radius: 10px;

}

body h4 {

    margin-top: 50px;
    left: 10.07%;
    right: 54.14%;
    top: 12.33%;
    bottom: 82.78%;

    font-family: var(--font-paragrafo);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: -1.5px;

    color: #000000;

}

body h5 {

    height: 16px;
    left: 143px;
    top: 586.5px;
    border-radius: nullpx;

}

#Form-Cartao h3 {
    margin-bottom: 10px;
}

#Form-Cartao .texto-form label {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#Form-Cartao .texto-form label input {

    width: 22px;
    height: 22px;
    margin-top: 5px;

}

main button {
    margin-bottom: 50px;
    margin-top: 10px;
    height: 50px;
    left: 0px;
    top: 0px;
    border-radius: 10px;

    color: white;

    background: rgba(13, 13, 13, 1);

    border: 1px solid rgba(13, 13, 13, 1)
}

#Form-Cartao input {
    position: relative;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    left: 1px;
    top: 0px;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    text-align: justify;
    
    
}

#Form-Cartao .campos .junto {

    display: flex;
    gap: 5%;
    width: 100%;

}

.coluna1 {

    width: 50%;

}




.flex {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#Form-Cartao .campos button:last-child {
    margin-top: 20px;
    border-radius: 10px;
    

}

main .coluna2 .resumo-compra {
    position: relative;
    margin-bottom: 80px;
}


main .coluna2 h3 {
    margin-bottom: 20px;
}

main .coluna2 label {
    font-size: 14px;
}

main .coluna2 input {
    display: block;
    width: 100%;
    margin: 10px 0 40px;
}

main .coluna2 .resumo-compra div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

main .coluna2 .resumo-compra div:last-child {
    border-top: 1px solid var(--cor-texto-secundaria);
    padding-top: 20px;
    font-weight: bold;
}

.errors {

    margin-bottom: 10px;
    border: solid 2px red;
   
}
.no-errors{
    display: none;
}

#codigo{
 
    border-radius: 10px;
}