:root{
    --cor-principal: #565656;
    --cor-secundaria: #FFB612;
    --cor-texto-primaria: #101010;
    --cor-texto-secundaria: #979797;
    --font-paragrafo: 'Public Sans', sans-serif;
    --font-titulo: 'Merriweather', serif;
}


/* Reset básico dos estilos do navegador */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para todas as páginas */

main{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}


section h2{
    margin-bottom: 20px;
    margin-top: 50px;
}

.ordenacao-section{
    width: 270px;
}

/* Componentes */

input[type="checkbox"]{
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

h2, h3, h4, h5, h6, label, p{
    font-family: var(--font-paragrafo);
}

/* Menu de seleção */

.menu-selecao{
    display: flex;
    border: 1px solid var(--cor-principal);
    padding: 10px 10px;
    justify-content: space-around;
    align-items: center;
}

.menu-selecao p{
    margin-right: 10px;
    color: var(--cor-texto-secundaria);
    font-size: 14px;
}

.menu-selecao select{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: var(--font-paragrafo);
    font-size: 15px;
    cursor: pointer;
}

.menu-selecao select:focus{
    outline: none;
}



/* Botôes */

button.botao-secundario{
    background-color: var(--cor-secundaria);
    padding: 15px 20px;
    border: none;
    color: var(--cor-texto-primaria);
    font-weight: bold;
    font-family: var(--font-paragrafo);
    cursor: pointer;
}


button.botao-primario{
    padding: 15px 30px;
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    color: var(--cor-texto-primaria);
    cursor: pointer;
}

button.botao-secundario:hover,
button.botao-primario:hover{
    opacity: 0.8;
}



/* Seletor de quantidade */

.seletor-quantidade{
    border: 1px solid var(--cor-texto-primaria);
    padding: 10px 10px;
    text-align: center;
}


@media (max-width: 1250px){
    main{
        width: 85%;
    }
}