:root{
    --cor-principal: #565656;
    --cor-secundaria: #FFB612;
    --cor-texto-primaria: #101010;
    --cor-texto-secundaria: #979797;
    --font-paragrafo: 'Public Sans', sans-serif;
    --font-titulo: 'Merriweather', serif;
}


/* Reset básico dos estilos do navegador */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para todas as páginas */

main{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}


section h2{
    margin-bottom: 20px;
}

/* Componentes */

input[type="checkbox"]{
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

h2, h3, h4, h5, h6, label, p{
    font-family: var(--font-paragrafo);
}