@media (min-width: 360px){
    .cabeçalho {
    background-color: var(--cor-secundaria);
    position: fixed;
    width: 100%;
    height: 70px;
}

#elementos-cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#note {
    display: none;
}

* {
    text-decoration: none;
    color: var(--cor-texto-primaria)
}

.logoAmarelo {
    width: 50px;
    height: 50px;
    padding: 5px;
}
  
  #menu-toggle {
    position: relative;
    background-color: var(--cor-secundaria);
    width:50px;
    height: 50px;
    padding: 5px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: none;
  }

#menuMobile {
    position: absolute;
    left: 0;
    bottom: -190px;
    display: none;
    margin-top: 215px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px var(--cor-texto-secundaria)
  }
  
  #menuMobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  #menuMobile li {
    display: block;
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px var(--cor-texto-secundaria);
}
  
  #menuMobile ul #categoriasExternas {
    display: none;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
    z-index: 99;
  }

  #menuMobile ul #categoriasInternas {
    display: none;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
    z-index: 99;
  }

  #branco {
    display: none;
  }
}

@media (min-width: 481px){
    .cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-secundaria);
    position: fixed;
    width: 100%;
    height: 70px;
}

#note {
    display: none;
}

* {
    text-decoration: none;
    color: var(--cor-texto-primaria)
}
  
  #menu-toggle {
    position: relative;
    background-color: var(--cor-secundaria);
    width:50px;
    height: 50px;
    padding: 5px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: none;
  }

#menuMobile {
    position: absolute;
    left: 0;
    bottom: -195px;
    display: none;
    margin-top: 215px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px var(--cor-texto-secundaria)
  }
  
  #menuMobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  #menuMobile li {
    display: block;
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px var(--cor-texto-secundaria);
}
  
  #menuMobile ul #categorias {
    display: none;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
    z-index: 99;
  }
  
  #branco {
    display: none;
  }
}
@media (min-width: 769px){
    .cabeçalho {
        display: flex;
        justify-content: center;
        padding: 0;
        background-color: var(--cor-secundaria);
        position: fixed;
        width: 100%;
        height: 70px;
    }

    #elementos-cabeçalho {
    width: 80%;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    font-family: var(--font-paragrafo);
    text-decoration: none;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 60px;
}

#note {
display:block;
}

.logoAmarelo {
    display: none;
}

#menu-toggle {
    display: none;
}

#branco {
    display: block;
    position: fixed;
    width: 100%;
}

#elementos-branco {
    top: 55px;
    width: 100%;
    background-color: #ffffff;
    list-style: none;
    padding: 20px;
    align-items: center;
    font-family: var(--font-paragrafo);
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logoBranco {
    display: block;
    width: 80px;
    height: 50px;
    padding-right: 10px;
}

#elementos-branco a {
    padding: 10px;
    display: block;
}

#elementos-branco a:hover {
    color: orange;
}

.buttonAreaInterna {
    position: relative;
  display: inline-block;
}

.buttonAreaInterna:hover {
    color: orange;
}

.buttonAreaInterna #categoriasInternasBranco {
  color: var(--cor-texto-primaria);
  font-size: 16px;
  border: none;
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 45rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  columns: 3;
  transition: all 0.5s;
  padding-top: 10px;
}

.buttonAreaInterna #categoriasInternasBranco li {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.buttonAreaInterna:hover #categoriasInternasBranco {
    display: block;
}

.buttonAreaExterna {
    position: relative;
  display: inline-block;
}

.buttonAreaExterna:hover {
    color: orange;
}

.buttonAreaExterna #categoriasExternasBranco {
    color: var(--cor-texto-primaria);
  font-size: 16px;
  border: none;
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 45rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  columns: 3;
  transition: all 0.5s;
  padding-top: 10px;
}

.buttonAreaExterna #categoriasExternasBranco li {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.buttonAreaExterna:hover #categoriasExternasBranco {
    display: block;
}

.lupa {
    width: 30px;
    height: 30px;
}

.sacola {
    width: 20px;
    height: 20px;
}

#elementos-branco .busca {
    border: none;
    flex-grow: 1;
    margin-right: 50px;
    border-bottom: 1px solid var(--cor-texto-primaria);
    outline: none;

}

#elementos-branco li a {
    text-decoration: none;
    color: var(--cor-texto-primaria);
}

#elementos-branco span {
    text-decoration-line: none;
    color: var(--cor-texto-primaria);
}

}