.bodyHome {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bannerSlide{
    position:relative;
}

.bannerSlide .slides .slide{
    min-height: 100px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}
.bannerSlide h3 {
    color: #fff;
    text-shadow:
        0px 0px 1px #101010,
        0px 2px 1px #101010,
        2px 0px 1px #101010,
        2px 1px 1px #101010;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-top: 80px;
    font-family: var(--font-titulo);
    font-size: 50px;
    font-style: normal;
}

.bannerSlide .slides .slide a {
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    justify-items: flex-start;
}

.bannerSlide .slides .slide a:hover{
    background-color: #ffd678;
}

.bannerSlide .slides{
    display:none;
}

.bannerSlide .slides.active{
    display: block;
}

.bannerSlide .slides:nth-child(1) .slide{
    background: url('/img/banner1.jpg');
    background-size: cover;
    max-width: 1800px;
    height: 350px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.bannerSlide .slides:nth-child(2) .slide{
    background: url('/img/banner2.jpg');
    background-size: cover;
    max-width: 1800px;
    height: 350px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.bannerSlide .slides:nth-child(3) .slide{
    background: url('/img/banner3.png');
    background-size: cover;
    max-width: 1800px;
    height: 350px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.bannerSlide .btn{
    position: absolute;
    top:50%;
    color: var(--cor-texto-primaria);
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bolder;
}

.bannerSlide .btn:hover{
    background: var(--cor-secundaria);
    border-radius: 50px;
}

.bannerSlide #prev{
    left: 0px;
}

.bannerSlide #next{
    right:-21px;
}

main {
    margin-bottom: 80px;
}

main .vitrine {
    display: flex;
    flex-wrap: wrap;
}

main .vitrine h2 {
    padding-top: 30px;
    color: var(--cor-texto-primaria);
    font-family: var(--font-paragrafo);
    width: 500px;
    height: 50px;
    margin: 1px;
    text-size-adjust: 90%;
    font-size: 30px;
}

main .products-container {
    justify-content: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

main .product-card {
    width: 30%;
    padding: 10px 20px;
    margin: 10px;
}

main .product-card img {
    width: 98%;
    height: fit-content;
    align-items: center;
}

main .product-card a {
    color: var(--cor-texto-primaria);
    font-family: var(--font-paragrafo);
    padding-bottom: 10px;
    display: block;
    width: 100%;
    margin: 0%;
    align-items: stretch;
    text-align: center;
    font-size: 20px;
}

.categorias{
    background: var(--cor-secundaria); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    gap: 10px;
}

.categorias h3{
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 40px;
    color: var(--cor-texto-primaria);
    margin-top: 20px;
    padding-bottom: 0%;
}

.categorias h2{
    text-align: center;
    font-family: var(--font-paragrafo);
    font-size: 20px;
    margin-top: 2px;
}

.categorias h1{
    text-align: center;
    font-family: var(--font-paragrafo);
    font-size: 15px;
    margin-top: 2px;
    color: var(--cor-texto-primaria);
}

 .categorias .icone-container a img{
    background: #fff;
    border-radius: 50px;
    width: 98%;
 }

 .categorias .botao-secundario{
    background: #fff;
    justify-content: center;
    text-align: center;
    text-decoration-color: var(--cor-texto-primaria);
    font-size: 20px;
    font-family: var(--font-titulo);
    margin-bottom: 20px;
    padding: 5px;
 }

 div{
    display: flex;
 }

 .break{
    flex-basis: 100%;
 }

 a.botao-icone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    text-align: center;
    text-decoration: none;
    width: 25%;
    align-items: center;
 }

 a .icone{
    width: 76px;
    height: 76px;
 }