.banner-categoria {
  background-color: var(--cor-principal);
  padding: 25px 15%;
  margin-top: 12%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 20px;
}

.banner-categoria h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.banner-categoria p {
  font-size: 16px;
  line-height: 28px;
}

.banner-categoria .icone-container {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--cor-secundaria);
}

.banner-categoria .icone-container img {
  width: 70%;
}

main {
  display: flex;
}

.filtros-container {
  width: 250px;
  position: relative;
  -webkit-box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  margin-right: 20px;
  padding: 20px 20px 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.filtros-container .header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.filtros-container p {
  color: var(--cor-texto-secundaria);
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 20px;
}

.filtros-container span {
  display: block;
  margin-bottom: 10px;
}

.filtros-container a {
  text-decoration: none;
  color: var(--cor-texto-primaria);
}

.filtros-container .imagens-checkbox {
  position: relative;
  display: inline-block;
}

.imagens-checkbox img {
  width: 20px;
  height: 20px;
}

.imagem-checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.imagens-checkbox:hover .imagem-checked {
  opacity: 1;
}


.filtros-container h4 {
  font-size: 20px;
}

.filtros-container input {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.produtos-container {
  width: 100%;
  -webkit-box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 17px 14px rgba(0, 0, 0, 0.03);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.produtos-container .ordenacao-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.produtos-container .ordenacao-container a {
  border-radius: 6px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  padding: 2px;
}

.produtos-container .ordenacao-container .quantidade-produtos {
  font-size: 14px;
  margin-top: 10px;
}

.produtos-container .produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
}

.produtos-container .produto {
  width: 100%;
  min-height: 500px;
  position: relative;
  text-align: center;
}

.produtos-container .menu-selecao {
  width: 270px;
}

.produtos-container .menu-selecao select {
  width: auto;
}

.produtos-container .produto a {
  color: var(--cor-texto-primaria);
  text-decoration: none;
}

.produtos-container .produto .img-container {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produtos-container .produto img {
  max-width: 14rem;
  max-height: 14rem;
  min-width: 7rem;
  min-height: 7rem;
}

.produtos-container .produto h3 {
  color: var(--cor-texto-secundaria);
}

.produtos-container .produto p {
  font-size: 22px;
  margin-top: 8px;
  font-weight: bold;
}

.produtos-container .produto p.variacao-produto {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.produtos-container .produto button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.produtos-container .botao-container {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}

.produtos-container button.botao-primario {
  width: 300px;
  margin: 0 auto;
}

/* MEDIA QUERIES */

@media (max-width: 950px) {
  main {
    flex-direction: column;
    margin-top: 10px;
  }

  .banner-categoria {
    padding: 30px 5%;
  }

  .banner-categoria .titulo-container {
    margin-top: 20px;
    text-align: center;
  }

  .banner-categoria .icone-container {
    width: 60px;
    height: 60px;
  }

  .filtros-container {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .filtros-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  .filtros-container span {
    display: flex;
  }

  .produtos-container .produtos>div {
    grid-template-columns: repeat(2, 1fr);
  }

  .produtos-container button.botao-primario {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .banner-categoria {
    margin-top: 0;
    padding: 15px;
  }

  .banner-categoria p {
    display: none;
  }

  .banner-categoria .icone-container {
    display: none;
  }
}

@media (max-width: 550px) {
  .produtos-container .produtos>div {
    grid-template-columns: repeat(1, 1fr);
  }

  .produtos-container button.botao-primario {
    width: 100%;
  }
}

footer {
  background: var(--cor-secundaria);
}

footer nav li a {
  text-decoration: none;
  color: var(--cor-texto-primaria);
}