
.banner-categoria{
    background-color:var(--cor-principal);
    padding: 60px 15%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-categoria h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.banner-categoria p {
    font-size: 18px;
    line-height: 28px;
}

.banner-categoria .icone-container{
    background-color: white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 4px solid var(--cor-secundaria);
}

.banner-categoria .icone-container img{
    width: 70%;
}

main{
    display: flex;
}

.filtros-container{
    width: 180px;
}

.filtros-container .header{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.filtros-container p{
    color: var(--cor-texto-secundaria);
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 20px;
}

.filtros-container form span{
    display: block;
    margin-bottom: 10px;
}

.filtros-container h4{
    font-size: 20px;
}

.filtros-container form input{
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.produtos-container{
    width: 90%;
}

.produtos-container .ordenacao-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}


.produtos-container .ordenacao-container .quantidade-produtos{
    font-size: 14px;
    margin-top: 10px;
}