html {
  position: relative;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: none;
}

.modal span.fecha-modal {
  top: -60px;
  right: -60px;
  font-size: 3rem;
  color: white;
  position: absolute;
  cursor: pointer;
  font-family: var(--font-paragrafo);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.modal div {
  width: 50%;
  background-color: white;
  transform: translateX(-50%);
  margin-left: 50%;
  margin-top: 100px;
  position: relative;
}

.modal div>.img-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal div>.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.modal div>span {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: block;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.modal div>span img {
  width: 80%;
}

.modal div>span:hover {
  opacity: 0.8;
}

.modal div>.anterior-img {
  left: -60px;
  background-color: var(--cor-secundaria);
}

.modal div>.proxima-img {
  background-color: var(--cor-secundaria);
  right: -60px;
}

main.produto-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.produto-container .img-vitrine-container {
  width: 100%;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto-container .img-container {
  width: 45%;
  height: 500px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.produto-container .img-container .img-vitrine {
  /* object-fit: cover;
  min-height: 160px;
  min-width: 170px;
  max-height: 100%;
  max-width: 100%; */
  width: 80%;
  height: 80%;
  object-fit: contain;

}

.produto-container .img-container img {
  width: fit-content;
  /* height: fit-content; */
}

.produto-container .img-container .botoes-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  position: relative;
  bottom: 60px;
}

.produto-container .img-container span {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.produto-container .img-container .anterior-img {
  color: white;
}

.produto-container .img-container span img {
  width: 60%;
}

.produto-container .info-container {
  width: 45%;
  padding: 50px 0;
}

.produto-container .info-container h1 {
  font-size: 36px;
  font-family: var(--font-paragrafo);
}

.produto-container .info-container h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.produto-container .info-container p {
  line-height: 24px;
  text-align: justify;
}

.produto-container .info-container .medidas {
  margin: 20px 0 50px;
  font-style: italic;
}

.produto-container .info-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.produto-container .info-container .seletor-quantidade {
  width: 45%;
}

.produto-container .info-container .ordenacao-container {
  width: 45%;
}

.produto-container .info-container button {
  width: 100%;
}

.produto-container .img-container .produto-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: -40px;
}

.produto-container .img-container .produto-images img {
  max-width: 85px;
  max-height: 85px;
  min-width: 35px;
  min-height: 35px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .modal div {
    width: 70%;
  }

  .produto-container .img-vitrine-container {
    height: 37vw;
  }
}

@media (max-width: 950px) {
  main.produto-container {
    margin-bottom: 80px;
  }

  .produto-container .info-container form {
    flex-direction: column;
    gap: 30px;
  }

  .produto-container .info-container .seletor-quantidade,
  .produto-container .info-container .ordenacao-container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  main.produto-container {
    flex-direction: column;
  }

  .produto-container .img-vitrine-container {
    height: 400px;
    margin-bottom: 50px;
  }

  .produto-container .img-container,
  .produto-container .info-container {
    width: 100%;
  }

  .produto-container .img-container .botoes-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .modal div {
    width: 70%;
  }
}

@media (max-width: 334px) {
  .produto-container .info-container form {
    gap: 10px;
  }

  .produto-container .img-container {
    height: 600px;
  }

  .produto-container .img-vitrine-container {
    height: 400px;
    margin-bottom: 1px;
  }

  .produto-container .img-container .produto-images {
    margin-top: 0;
  }

  .produto-container .img-container .botoes-container {
    bottom: 40%;
  }
}

footer {
  background: var(--cor-secundaria);
}

footer nav li a {
  text-decoration: none;
  color: var(--cor-texto-primaria);
}