body.admin-container .busca-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

body.admin-container .busca-container a {
  margin: initial;
  width: 200px;
  margin-top: 20px;
  background-color: var(--cor-secundaria);
  color: #000;
}

body.admin-container .busca-container.banner a {
  margin-left: auto;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--cor-secundaria);
  color: #000;
}

body.admin-container .img-produto-container img {
  max-width: 45px;
  max-height: 30px;
  margin: 0 auto;
}

body.admin-container .img-produto-container.banner img {
  width: 85px;
  max-width: initial;
  margin: 0 auto;
}

body.admin-container .acoes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  height: 100%;
}

body.admin-container .ver-produto{
  color: var(--cor-texto-primaria)
}

body.admin-container .acoes-container .delete-btn,
body.admin-container .acoes-container a {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
}

body.admin-container .acoes-container img {
  height: 20px;
  width: auto;
}

body.admin-container .acoes-container form{
  margin-bottom: 0;
  width: auto;
}

body.admin-container .acoes-container .delete-btn{
  padding: 10px;
}

body.admin-container .acoes-container .delete-btn {
  background-color: #cd0808;
}

body.admin-container .acoes-container .delete-btn:hover {
  opacity: 0.8;
}

body.admin-container .acoes-container .modal{
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

body.admin-container .acoes-container .modal.-active{
  display: flex;
}

body.admin-container .acoes-container .modal > div{
  background-color: #fff;
  display: block;
  padding:24px;
  border-radius: 8px;
}

body.admin-container .acoes-container .modal > div h3{
  text-align: left;
  margin-bottom: 16px;
}

body.admin-container .acoes-container .modal > div .modal-btns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

body.admin-container .acoes-container .modal > div .modal-btns button{
  background-color: #cd0808;
  font-weight: bold;
  color: #fff;
}

body.admin-container .acoes-container .modal > div .modal-btns span{
  font-size: 14px;
  cursor: pointer;
}

body.admin-container .acoes-container .modal > div .modal-btns span:hover{
  opacity: 0.8;
}