.status-pedido-container {
    margin-bottom: 80px;
}

.status-pedido-container .voltar a {
  margin: 15px 0;
  display: block;
  margin-bottom: 40px;
  color: var(--cor-texto-secundaria);
}

.status-pedido-container .pedido {
  border-radius: 8px;
  padding: 30px
}

.status-pedido-container .pedido + .pedido {
    margin-top: 30px;
}

.status-pedido-container .linha-pedido {
  margin-bottom: 15px;
}

.status-pedido-container .pedido p {
  display: inline;
}

.status-pedido-container .pedido .titulo-campo {
  font-weight: bold;
  display: inline;
  margin-right: 8px;
}

.status-pedido-container .produtos-pedido h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.status-pedido-container .produtos-pedido .produto {
  display: flex;
  text-decoration: none;
  color: var(--cor-texto-primaria);
  padding: 10px 0;
}

.status-pedido-container .produtos-pedido .produto + .produto {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.status-pedido-container .produtos-pedido .produto .infos-produto {
    width: 80%;
}

.status-pedido-container .produtos-pedido .produto:hover {
  opacity: 0.8;
}

.status-pedido-container .produtos-pedido .produto .img-container {
  width: 64px;
  height: 64px;
}

.status-pedido-container .produtos-pedido .produto .img-container img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
