.imglogin {
    border-radius: 10px;
    width: 100px;
}

div {
    width: 400px;
    height: 400px;
    display: inline-block;
    
}
    
body{
    background: white;
    margin: 50px;
    padding: 50px;

}



