* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.imglogin {
    border-radius: 10px;
    width: 100px;
}

html {
    height: 100%;
}


button, .input-file-container {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px 25px;
    display: flex;
    text-align: center;
    cursor: pointer;
}

button:hover, .input-file-container:hover{
    background-color:#343a40;
}

.input-file-container {
    background-color:#343a40;
}

input[type="file"] {
    display: none;
}
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#form-usuario {
    background-color: white(0, 0, 0, 0.8);
    width: 750px;
    padding: 10px;
}

#form-usuario .campos {
    display: flex;
    flex-direction: column;
}

#form-usuario label{
    margin-bottom: 25px;
}

#form-usuario .campos input{
    display: flex;
    width: 100%;
}

#form-usuario button {
    width: 25%;
}

#form-usuario .input-file-container{
    width: 25%;
}



